body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.content-area {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

/* .cart-button {
  align-self: flex-start;
  height: fit-content;   

  margin-right: 5px;
  margin-top: 20px; 
  flex-shrink: 0; 

  background-color: #007bff;
  color: white;    
  border: none;
  padding: 5px 10px;   
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; 
  font-weight: bold;
}

.cart-button:hover {
  background-color: #0056b3;
} */